{% extends 'base.html.twig' %}

{% block title %}les sponsors{% endblock %}

{% block body %}
    <h1>les sponsors</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Logo du sponsor</th>
                <th>Nom du sponsor</th>
                
                <th>Site web</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                
                <td><a  class="custom-logo-link"><img src="{{asset('sponsorImages/'~sponsor.logoSponsor)}}" alt="logo" class="custom-logo"></a></td>
                <td>{{ sponsor.nomSponsor }}</td>
                
                <td>{{ sponsor.siteWebs }}</td>
                <td>
                    <a class="btn" href="{{ path('app_sponsor_show', {'id': sponsor.id}) }}">Détails</a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sponsor_new') }}"></a>
{% endblock %}
