{% extends 'base.html.twig' %}

{% block title %}Sponsor{% endblock %}

{% block body %}
    <h1>Détails sponsor</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom du sponsor</th>
                <td>{{ sponsor.nomSponsor }}</td>
            </tr>
            <tr>
                <th>Description du sponsor</th>
                
                 <td style="white-space: pre-line;">{{ sponsor.descriptionSponsor|nl2br }}</td>
            </tr>
            <tr>
                <th>Logo du sponsor</th>
                <td>{{ sponsor.logoSponsor }}</td>
            </tr>
            <tr>
                <th>Nom équipe sponsoriseé</th>
                <td>{{ sponsor.IdEquipe }}</td>
            </tr>
            <tr>
                <th>Site web</th>
                 <td><a href="{{ sponsor.siteWebs }}">{{ sponsor.siteWebs }}</a></td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_sponsor_index') }}">Retour à la liste</a>

    

   
{% endblock %}
