{% extends 'base.html.twig' %}
{% block style %}{% endblock %}
{% block title %}Register
{% endblock %}

{% block body %}
	<section class="contacts-wrap">
		<div class="container d-flex align-items-center h-100">
			<div class="row ">

				<div class="col-md-6">
					<h4>S'incrire</h4>
					<center><div class="leave-comment-wrap">
							{{ form_start(form) }}
							<div class="row">
								<div class="col-md-6">
									<div class="item">
										<label>
											<span>Nom
												<i>*</i>
											</span>
											{{ form_widget(form.nom) }}
										</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="item">
										<label>
											<span>Prenom
												<i>*</i>
											</span>
											{{ form_widget(form.prenom) }}
										</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="item">
										<label>
											<span>Email
                                            <i>*</i>
                                            </span>
											{{ form_widget(form.email) }}
										</label>
									</div>
								</div>
                                <center><div class="col-md-12">
									<div class="item">
										<label>
											<span>Mot de passe
                                            <i>*</i>
                                            </span>
											{{ form_widget(form.mdp) }}
										</label>
									</div>
								</div></Center>
								<div class="col-md-12">
									<div class="item">
										<label>
											<span>Pays
                                            <i>*</i>
                                            </span>
											{{ form_widget(form.pays) }}
										</label>
									</div>
								</div>
                                <div class="col-md-12">
									<div class="item">
										<label>
											<span>Date de naissance
                                            <i>*</i>
                                            </span>
											{{ form_widget(form.datenai) }}
										</label>
									</div>
								</div>
                                <div class="col-md-12">
									<div class="item">
										<label>
											<span>Photo de profile
                                            <i>*</i>
                                            </span>
											{{ form_widget(form.pprofile) }}
										</label>
									</div>
								</div>
								<div class="col-md-12">
									<button class="comment-submit">{{ button_label|default('Enregistrer votre compte') }}</button>
								</div>
							</div>
							{{ form_end(form) }}
						<!--</form>-->
					</div></center>
				</div>
				<center>
					<div class="col-md-6">
						<h4>Head office</h4>
						<p>Selvage mixtape coloring book, street art swag sriracha activated charcoal vegan hammock selfies distillery wayfarers dreamcatcher lyft beard.
						</p>
						<div class="contact-office-img">
							<img class="img-responsive" src="images/soccer/contact-office-img.jpg" alt="contact-office-img">
						</div>
						<ul class="contact-list">
							<li>
								<i class="fa fa-flag" aria-hidden="true"></i>
								<span>276 Upper Parliament Street, Liverpool L8, Great Britain</span>
							</li>
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<a href="mailto:team@email.com">team@email.com</a>
							</li>
							<li class="phone">
								<i class="fa fa-phone" aria-hidden="true"></i>
								<span>+61 3 8376 6284</span>
							</li>
						</ul>
						<ul class="contact-bar">
							<li class="facebook">
								<a href="#">
									<i class="fa fa-facebook-square" aria-hidden="true"></i>
								</a>
							</li>
							<li class="twitter">
								<a href="#">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li class="google">
								<a href="#">
									<i class="fa fa-google" aria-hidden="true"></i>
								</a>
							</li>
							<li class="pinterest">
								<a href="#">
									<i class="fa fa-pinterest" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</center>
			</div>
		</div>
	</section>
	<!--<div class="contacts-map">
	        <img class="img-responsive" src="images/soccer/contacts-map.jpg" alt="contacts-map">
	    </div>-->

	
{% endblock %}
{% block js %}{% endblock %}
