{{ form_start(form,{'attr': {'class':'form-horizontal','novalidate':'novalidate'}})}}
   <br>
   <br>
   <br>
   <div class="form-group1">
    {{form_label(form.categorieProduit)}}
    {{ form_widget(form.categorieProduit) }}
    {{form_errors(form.categorieProduit)}}
 </div>  
<div class="form-group1">
    {{form_label(form.nom)}}
    {{ form_widget(form.nom) }}
    <div class="error">
    {{form_errors(form.nom)}}
    </div>
</div>
<div class="form-group1">
    {{form_label(form.description)}}
    {{ form_widget(form.description) }}
     <div class="error">
    {{form_errors(form.description)}}
    </div>
 </div>  
<div class="form-group1">
    {{form_label(form.prix)}}
    {{ form_widget(form.prix) }}
     <div class="error">
    {{form_errors(form.prix)}}
    </div>
</div>
<div class="form-group1">
    {{form_label(form.quantite)}}
    {{ form_widget(form.quantite) }}
     <div class="error">
    {{form_errors(form.quantite)}}
    </div>
</div>
<div class="form-group1">
    {{form_label(form.image)}}
    {{ form_widget(form.image) }}
     <div class="error">
    {{form_errors(form.image)}}
    </div>
 </div>  

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
<a href="{{ path('app_produit_showProduit') }}"><button class="btn btn-primary1">back to list</button></a>
<style>


.form-group1 {
  margin-bottom: 20px;
}
.error{
  color:red;
}
label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 2px solid #337ab7;
}

input[type="file"] {
  width: 100%;
}

.btn-primary {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-primary1 {
  background-color: #337ab7;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  left: 380px;
}

.btn-primary:hover {
  background-color: #286090;
  opacity: 0.8;
}
<style>