{% extends 'back.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <h1>Equipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipe.id }}</td>
            </tr>
            <tr>
                <th>Nom_equipe</th>
                <td>{{ equipe.nomEquipe }}</td>
            </tr>
            <tr>
                <th>Description_equipe</th>
                <td>{{ equipe.descriptionEquipe }}</td>
            </tr>
            <tr>
                <th>Nb_joueurs</th>
                <td>{{ equipe.nbJoueurs }}</td>
            </tr>
            <tr>
                <th>Logo_equipe</th>
                <td><a  class="custom-logo-link"><img src="{{asset('equipeImages/'~equipe.logoEquipe)}}" alt="logo" class="custom-logo"></a></td>
            </tr>
            <tr>
                <th>Site_web</th>
                 <td><a href="{{ equipe.siteWeb }}">{{ equipe.siteWeb }}</a></td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ equipe.dateCreation|date('Y-m-d H:i') }}</td>
            </tr>
        </tbody>
    <a  href="{{ path('app_equipeback_index') }}">back to list</a>
    </table>


    
{% endblock %}
