<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <meta charset="UTF-8">
	<meta name="description" content="Game Warrior Template">
	<meta name="keywords" content="warrior, game, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">



    {% block title %}<title>Jeux</title>{% endblock %}
    {% block style %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="{{asset('css/library/bootstrap.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('dev-assets/preloader-default.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('dev-assets/demo-switcher.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('css-min/soccer.min.css')}}" rel="stylesheet" type="text/css" />


<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{asset('jeux/css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('jeux/css/font-awesome.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('jeux/css/owl.carousel.css')}}"/>
	<link rel="stylesheet" href="{{asset('jeux/css/style.css')}}"/>
	<link rel="stylesheet" href="{{asset('jeux/css/animate.css')}}"/>
{% endblock %}


    <!-- 
    
    Enable one styles which the you want
    
    <link href="{{asset('-min/soccer.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('-min/hockey.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('-min/basketball.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('-min/football.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('-min/baseball.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('-min/dota.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('-min/csgo.min.css')}}" rel="stylesheet" type="text/css" />
    
    All libraries included in this css, concating rules in /grunt/cssmin.js
    Use grunt default task for creating this files
    
    -->
</head>

<body>

	<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>


    <!--MAIN MENU WRAP BEGIN-->
<div class="main-menu-wrap sticky-menu">
			<div class="container">
				<a href="index-2.html" class="custom-logo-link"><img src="{{ asset('images/soccer/logo.png') }}" alt="logo" class="custom-logo"></a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<nav class="navbar">
					<div class="collapse navbar-collapse" id="team-menu">
						<ul class="main-menu nav">
							<li class="active">
								<a href="{{path('app_index')}}">
									<span>Acceuil</span>
								</a>
							</li>
							<li>
								<a href="matches.html">
									<span>Tournois</span>
								</a>
							</li>
							<li>
								<a href="staff.html">
									<span>Equipes</span>
								</a>
								
							</li>
							<li>
								<a href="news.html">
									<span>Blog</span>
								</a>
							</li>
							<li>
								<a href="{{ path('app_jeux_index') }}">
									<span>Jeux</span>
								</a>
							</li>
							<li>
								<a href="store.html">
									<span>Boutique</span>
								</a>
							</li>
							
							<li>


								
									<a href="#">
									<span>Compte</span>
								</a>
									
									<ul>
										<li><span>Connectez-vous</span></a></li>
										<li><span>S'inscrire</span></a></li>
									</ul>
								</li>
								
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
<!--MAIN MENU WRAP END-->


    <!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <h1>Jeux</h1>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--STORE WRAP BEGIN-->
{% block body %}
    <div class="store-wrap">
        <div class="container">
                {{ include('jeux/jeuxSearch.html.twig',{'button_label': 'Effectuer'}) }}
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <p class="hidden-md hidden-lg">
                        <button type="button" class="btn sidebar-btn" data-toggle="offcanvas" title="Toggle sidebar">sidebar</button>
                    </p>
                    <div class="row">
                    {% if message is not empty %}
    <p>{{ message }}</p>
{% else %}
                    {% for jeux in jeuxAll %}
                        <div class="col-md-4 col-sm-6">
                            <div class="store-list-item">
                                <div>
                                    <a href="{{ path('app_jeux_show', { 'id': jeux.id }) }}">
                                        <img src="{{asset('JeuxImages/'~jeux.ImageJeux)}}" width="60" height="350"/>
                                    </a>
                                    <div class="info">
                                        <span class="name"> {{jeux.libelle }}</span>
                                        	
                                        
                                        <div class="btn-wrap">
                                            
                                            <a href="{{ path('app_jeux_show', { 'id': jeux.id }) }}" class="btn small">Consulter</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="col-md-12">
                            <div class="pagination-wrap">
    {{ knp_pagination_render(jeuxAll, 'jeux/pagination.html.twig') }}
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
<section class="review-section review-dark spad set-bg" data-setbg="img/review-bg-2.jpg">
		<div class="container">
			<div class="section-title text-white">
				<h2>Les Mieux Evaluer</h2>
			</div>
			<div class="row text-white">
   {% for jeux in top3Jeux|slice(0,3) %}
    <div class="col-lg-4 col-md-6">
        <div class="review-item">
            <a href="{{ path('app_jeux_show', { 'id': jeux.id }) }}">
    <div class="review-cover set-bg" data-setbg="{{ asset('JeuxImages/'~jeux.ImageJeux) }}">
        <div class="score yellow">{{ jeux.noteMyonne }}</div>
    </div>
</a>

            <div class="review-text">
                <h5>{{ jeux.libelle }}</h5>
            </div>
        </div>
    </div>
{% endfor %}

		</div>
	</section>
    
        <!--MAIN SPONSOR SLIDER BEGIN-->
<div class="main-sponsor-slider-background">
<div id="main-sponsor-slider" class="carousel slide main-sponsor-slider" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <img class="sponsor-icons" src="{{asset('images/common/sponsor-img.png')}}" alt="sponsor-image">	
                    </div>
                    <div class="col-xs-4 text-center">
                        <img class="sponsor-icons" src="{{asset('images/common/sponsor-img1.png')}}" alt="sponsor-image">	
                    </div>
                    <div class="col-xs-4 text-center">
                        <img  class="sponsor-icons dota-csgo-image" src="{{asset('images/common/sponsor-img2.png')}}" alt="sponsor-image">	
                    </div>
                </div>
            </div>	
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <img class="sponsor-icons" src="{{asset('images/common/sponsor-img.png')}}" alt="sponsor-image">	
                    </div>
                    <div class="col-xs-4 text-center">
                        <img  class="sponsor-icons" src="{{asset('images/common/sponsor-img1.png')}}" alt="sponsor-image">	
                    </div>
                    <div class="col-xs-4 text-center">
                        <img class="sponsor-icons dota-csgo-image" src="{{asset('images/common/sponsor-img2.png')}}" alt="sponsor-image">
                    </div>
                </div>
            </div>	
        </div>
        <!-- Controls -->
        <a class="nav-arrow left-arrow" href="#main-sponsor-slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
        </a>
        <a class="nav-arrow right-arrow" href="#main-sponsor-slider" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
        </a>
    </div>	
</div>
</div>
{% endblock %}
<!--MAIN SPONSOR SLIDER END-->

</div>

    <!--STORE WRAP END-->

    <!--FOOTER BEGIN-->
<footer class="footer">
    <div class="wrapper-overfllow">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-left">
                        <div class="wrap">
                            <a href="index-2.html" class="foot-logo"><img src="{{asset('images/soccer/footer-logo.png')}}" alt="footer-logo"></a>
                            <p>Activated charcoal trust fund ugh prism af, beard marfa air plant stumptown gastropub farm-to-table jianbing.</p>
                            <ul class="foot-left-menu">
                                <li><a href="staff.html">First team</a></li>
                                <li><a href="staff.html">Second team</a></li>
                                <li><a href="amateurs.html">Amateurs</a></li>
                                <li><a href="donations.html">Donation</a></li>
                                <li><a href="trophies.html">trophies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-offset-1">
                    <div class="foot-news">
                        <h4>Recent news</h4>
                        <div class="item">
                            <a href="news.html" class="image"><img class="img-responsive" src="{{asset('images/soccer/foot-news-img.jpg')}}" alt="news-image"></a>
                            <a href="news.html" class="name">When somersaulting Sanchez shouldered Mexico’s hopes</a>
                            <a href="news.html" class="date">25 Sep 2016</a>
                            <span class="separator">in</span>
                            <a href="news.html" class="category">Highlights</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-4 col-sm-12">
                    <div class="foot-contact">
                        <h4>Contact us</h4>
                        <ul class="contact-list">
                            <li><i class="fa fa-flag" aria-hidden="true"></i><span>276 Upper Parliament Street, Liverpool L8, Great Britain</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:team@email.com">team@email.com</a></li>
                            <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+61 3 8376 6284</span></li>
                        </ul>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER END-->
{% block js %}
<script src="{{asset('jeux/js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('jeux/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('jeux/js/owl.carousel.min.js')}}"></script>
	<script src="{{asset('jeux/js/jquery.marquee.min.js')}}"></script>
	<script src="{{asset('jeux/js/main.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/library/jquery.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/jquery-ui.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/jquery.sticky.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/jquery.jcarousel.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/jcarousel.connected-carousels.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/owl.carousel.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/progressbar.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/jquery.bracket.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/chartist.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/Chart.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/fancySelect.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/isotope.pkgd.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/imagesloaded.pkgd.js')}}"></script>

<script type="text/javascript" src="{{asset('js/jquery.team-coundown.js')}}"></script>
<script type="text/javascript" src="{{asset('js/matches-slider.js')}}"></script>
<script type="text/javascript" src="{{asset('js/header.js')}}"></script>
<script type="text/javascript" src="{{asset('js/matches_broadcast_listing.js')}}"></script>
<script type="text/javascript" src="{{asset('js/news-line.js')}}"></script>
<script type="text/javascript" src="{{asset('js/match_galery.js')}}"></script>
<script type="text/javascript" src="{{asset('js/main-club-gallery.js')}}"></script>
<script type="text/javascript" src="{{asset('js/product-slider.js')}}"></script>
<script type="text/javascript" src="{{asset('js/circle-bar.js')}}"></script>
<script type="text/javascript" src="{{asset('js/standings.js')}}"></script>
<script type="text/javascript" src="{{asset('js/shop-price-filter.js')}}"></script>
<script type="text/javascript" src="{{asset('js/timeseries.js')}}"></script>
<script type="text/javascript" src="{{asset('js/radar.js')}}"></script>
<script type="text/javascript" src="{{asset('js/slider.js')}}"></script>
<script type="text/javascript" src="{{asset('js/preloader.js')}}"></script>
<script type="text/javascript" src="{{asset('js/diagram.js')}}"></script>
<script type="text/javascript" src="{{asset('js/bi-polar-diagram.js')}}"></script>
<script type="text/javascript" src="{{asset('js/label-placement-diagram.js')}}"></script>
<script type="text/javascript" src="{{asset('js/donut-chart.js')}}"></script>
<script type="text/javascript" src="{{asset('js/animate-donut.js')}}"></script>
<script type="text/javascript" src="{{asset('js/advanced-smil.js')}}"></script>
<script type="text/javascript" src="{{asset('js/svg-path.js')}}"></script>
<script type="text/javascript" src="{{asset('js/pick-circle.js')}}"></script>
<script type="text/javascript" src="{{asset('js/horizontal-bar.js')}}"></script>
<script type="text/javascript" src="{{asset('js/gauge-chart.js')}}"></script>
<script type="text/javascript" src="{{asset('js/stacked-bar.js')}}"></script>

<script type="text/javascript" src="{{asset('js/library/chartist-plugin-legend.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/chartist-plugin-threshold.js')}}"></script>
<script type="text/javascript" src="{{asset('js/library/chartist-plugin-pointlabels.js')}}"></script>

<script type="text/javascript" src="{{asset('js/treshold.js')}}"></script>
<script type="text/javascript" src="{{asset('js/visible.js')}}"></script>
<script type="text/javascript" src="{{asset('js/anchor.js')}}"></script>
<script type="text/javascript" src="{{asset('js/landing_carousel.js')}}"></script>
<script type="text/javascript" src="{{asset('js/landing_sport_standings.js')}}"></script>
<script type="text/javascript" src="{{asset('js/twitterslider.js')}}"></script>
<script type="text/javascript" src="{{asset('js/champions.js')}}"></script>
<script type="text/javascript" src="{{asset('js/landing_mainnews_slider.js')}}"></script>
<script type="text/javascript" src="{{asset('js/carousel.js')}}"></script>
<script type="text/javascript" src="{{asset('js/video_slider.js')}}"></script>
<script type="text/javascript" src="{{asset('js/footer_slides.js')}}"></script>
<script type="text/javascript" src="{{asset('js/player_test.js')}}"></script>

<script type="text/javascript" src="{{asset('js/main.js')}}"></script>

	<!--DEMO SWITCHER BEGIN-->


<script type="text/javascript" src="{{asset('dev-assets/demo-switcher.js')}}"></script>
{% endblock %}
</body>


</html>
