{% extends 'jeux/back_jeux.html.twig' %}

{% block title %}Jeux index{% endblock %}
{% block style %}{% endblock %}
{% block body %}
    <h1>Jeux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Libelle</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeux in jeuxes %}
            <tr>
                <td>{{ jeux.id }}</td>
                <td>{{ jeux.ref }}</td>
                <td>{{ jeux.libelle }}</td>
                <td>{{ jeux.type }}</td>
                <td>
                    <a href="{{ path('app_jeux_show', {'id': jeux.id}) }}">show</a>
                    <a href="{{ path('app_jeux_edit', {'id': jeux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_jeux_new') }}">Create new</a>
{% endblock %}
{% block js %}{% endblock %}