{% extends 'back.html.twig' %}

{% block title %}CategorieProduit index{% endblock %}

{% block body %}
    <h1>CategorieProduit</h1>
<div style="height: 500px;width:800px; overflow: auto;">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th  class="h3 text-primary">ID</th>
                <th  class="h3 text-primary">NOM</th>
                <th  class="h3 text-primary">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_produit in categorie_produits %}

            <tr>
                <td>{{ categorie_produit.id }}</td>
                <td>{{ categorie_produit.nom }}</td>
                <td>
                    <a href="{{ path('app_categorie_produit_show', {'id': categorie_produit.id}) }}"><button class="btn btn-primary">{{ button_label|default('show') }}</button></a>
                    <a href="{{ path('app_categorie_produit_edit', {'id': categorie_produit.id}) }}"><button class="btn btn-primary">{{ button_label|default('edit') }}</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_categorie_produit_new') }}"><button class="btn btn-primary">{{ button_label|default('New') }}</button></a>

    <script>
$(document).ready(function() {
  $("tbody tr").hover(function() {
    $(this).addClass("bg-warning");
  }, function() {
    $(this).removeClass("bg-warning");
  });
});
</script>  
{% endblock %}
