{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
     <section class="club-wrap club-champ">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>EQUIPE </h4>
                    <div class="champ-date"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                </div>
           {% for equipe in equipes %}
               
            </div>
        </div>
        
<div class="championship-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="club-logo">
                 <div> <p> </p> </div>
                    <img src="{{asset('equipeImages/'~equipe.logoEquipe)}}" class="img-responsive" alt="champ image">   
                     <div> <p> </p> </div>             
                </div>
            </div>
            <div class="col-md-3">
                <div class="club-info">
                    <div class="item"><span>Nom equipe : </span>{{equipe.nomEquipe}}</div>
                    
                    <div class="item"><span>Date de creation :     </span>{{equipe.dateCreation|date("m/d/y")}}</div>
                    
                    <div class="col-md-7">

                   <div class="item"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ loop.index }}">
                supprimer
            </button>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation du supprission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet élément?
            </div>

            <div class="modal-footer">
                <form method="post" action="{{ path('app_equipe_delete', {'id': equipe.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
                    <button type="submit" class="btn btn-danger">oui</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
            </div>

        </div>
    </div>
</div> </div>
<div> <p> </p> </div>
                   <div class="item"> <a href="{{ path('app_equipe_edit', {'id': equipe.id}) }}" class="btn btn-danger">modifier</a> </div>
                   <div> <p> </p> </div>
                 <div class="item"> <a href="{{ path('app_equipe_show' ,{'id': equipe.id}) }}" class="btn btn-danger">Détails</a> </div> 
                </div>
                </div>
            </div>
            <div class="col-md-4">
             
              {#  <div class="club-info">
                  {#  <div class="item">Description equipe : </div>
                    <p>{{equipe.descriptionEquipe}}</p>
                    #}
                </div>	
            </div>
        </div>	
    </div>	
</div>
    </section>

 {% endfor %}
 
{% endblock %}
