{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
     <section class="club-wrap club-champ">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>word club championship </h4>
                    <div class="champ-date"><i class="fa fa-calendar" aria-hidden="true"></i>20 August 2016 - 16 may 2017</div>
                </div>
           {% for equipe in equipes %}
               
            </div>
        </div>
        
<div class="championship-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="club-logo">
                    <img src="{{asset('equipeImages/'~equipe.logoEquipe)}}" class="img-responsive" alt="champ image">                
                </div>
            </div>
            <div class="col-md-3">
                <div class="club-info">
                    <div class="item"><span>Nom equipe : </span>{{equipe.nomEquipe}}</div>
                    <div class="item"><span>Nombre de joueurs :     </span>{{equipe.nbJoueurs}}</div>
                    <div class="item"><span>Date de creation :     </span>{{equipe.dateCreation|date("m/d/y")}}</div>
                    <div class="item"><span>Site web : </span> <a href="{{ equipe.siteWeb }}">{{ equipe.siteWeb }}</a></div>
                    <div class="col-md-7">
                   <div class="item"> <a href="trophies.html" class="btn small club-top-btn">trophies</a> </div>
                   <div class="item"> <a href="{{ path('app_equipe_edit', {'id': equipe.id}) }}" class="btn small club-top-btn">edit</a> </div>
                   <div class="item"> <a href="{{ path('app_sponsor_index') }}" class="btn small club-top-btn">sponsor</a> </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="club-info">
                    <div class="item">Description equipe : </div>
                    <p>{{equipe.descriptionEquipe}}</p>
                </div>	
            </div>
        </div>	
    </div>	
</div>
    </section>

 {% endfor %}
 
{% endblock %}
