{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <h1>Equipe</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom de l'equipe</th>
                <td>{{ equipe.nomEquipe }}</td>
            </tr>
            <tr>
                <th>Descriptionde l'equipe</th>
                <td>{{ equipe.descriptionEquipe }}</td>
            </tr>
            <tr>
                <th>Nombre de joueurs</th>
                <td>{{ equipe.nbJoueurs }}</td>
            </tr>
            <tr>
                <th>Logo de l'equipe</th>
                <td>{{ equipe.logoEquipe }}</td>
            </tr>
            <tr>
                <th>Site web</th>
                <td><a href="{{ equipe.siteWeb }}">{{ equipe.siteWeb }}</a></td>
            </tr>
            <tr>
                <th>Date de creation</th>
                <td>{{ equipe.dateCreation|date("m/d/y") }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_equipe_index') }}">retour à la liste</a>

   

   
{% endblock %}
