{% extends 'back.html.twig' %}

{% block title %}Sponsor index{% endblock %}

{% block body %}
      <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Basic Tables </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>
                    <p class="card-description"> Add class <code>.table</code>
                    </p>
                    <div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_sponsor</th>
                <th>Description_sponsor</th>
                <th>Logo_sponsor</th>
                <th>Site_webs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td>{{ sponsor.id }}</td>
                <td>{{ sponsor.nomSponsor }}</td>
                <td>{{ sponsor.descriptionSponsor }}</td>
                <td>{{ sponsor.logoSponsor }}</td>
                <td>{{ sponsor.siteWebs }}</td>
                <td>
                    <a href="{{ path('app_sponsorback_show', {'id': sponsor.id}) }}">show</a>
                    <a href="{{ path('app_sponsorback_edit', {'id': sponsor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
                  </div>
                </div>
              </div>
    <a href="{{ path('app_sponsorback_new') }}">Create new</a>
{% endblock %}
