{% extends 'back.html.twig' %}

{% block title %}Table de sponsors{% endblock %}

{% block body %}
<div class="main-panel">
    {% if app.flashes('success') is not empty %}
    <div class="alert alert-success notification" role="alert">
       <center>sponsor ajouté avec succès</center>
         
        <script>
            setTimeout(function() {
                document.querySelector('.alert').style.display = 'none';
            }, 3000);
        </script>
    </div>
{% endif %}
{% if app.flashes('update') is not empty %}
    <div class="alert alert-success notification" role="alert">
       <center>sponsor modifié avec succès</center>
         
        <script>
            setTimeout(function() {
                document.querySelector('.alert').style.display = 'none';
            }, 3000);
        </script>
    </div>
{% endif %}
 {% if app.flashes('delete') is not empty %}
    <div class="alert alert-success notification" role="alert">
       <center>sponsor supprimé avec succès</center>
         
        <script>
            setTimeout(function() {
                document.querySelector('.alert').style.display = 'none';
            }, 3000);
        </script>
    </div>
{% endif %}
   <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Sponsors </h3>
               <th><a href="{{ path('app_sponsorback_index', {'sort_by': 'nom_sponsor', 'sort_order': sort_order == 'asc' ? 'desc' : 'asc' }) }}" class="btn btn-primary" >trier par nom</a></th>
               <th><a href="{{ path('app_sponsorback_index', {'sort_by': 'date_creationn', 'sort_order': sort_order == 'asc' ? 'desc' : 'asc' }) }}" class="btn btn-primary" >trier par date</a></th>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"></a></li>
                </ol>
              </nav>
            </div>
             {{form_start(form)}}
                    {{form_widget(form.query)}}
                    
                    <button class="btn btn-primary"  type="submit" >chercher</button>
                {{form_end(form)}}
                <div><p> </p> </div>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Table des sponsors</h4>
                    <div class="d-flex justify-content-end mt-3 mb-3">
                        <a href="{{ path('app_sponsorback_new') }}" class="btn btn-success">Ajout</a>
                        </div>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
            <tr>
               
                <th>Logo du sponsor</th>
                <th>Nom du sponsor</th>               
                <th>Site web</th>
                <th>Nom équipe sponsoriseé</th>
                <th>Date de creation</th> 
                <th>actions</th>
                <th>Détails</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                
                <td><a  class="custom-logo-link"><img src="{{asset('sponsorImages/'~sponsor.logoSponsor)}}" alt="logo" class="custom-logo"></a></td>
                <td>{{ sponsor.nomSponsor }}</td>          
                <td>{{ sponsor.siteWebs }}</td>
                <td>{{ sponsor.IdEquipe }}</td>
                <td>{{sponsor.dateCreationn ? sponsor.dateCreationn|date('Y-m-d ') }}</td>
                <td>
                  <a class="btn btn-primary" href="{{ path('app_sponsorback_edit', {'id': sponsor.id}) }}"><i class="mdi mdi-pencil"></i></a>
                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ loop.index }}">
                <i class="mdi mdi-delete"></i>
            </button>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation du supprission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet élément?
            </div>

            <div class="modal-footer">
                <form method="post" action="{{ path('app_sponsorback_delete', {'id': sponsor.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsor.id) }}">
                    <button type="submit" class="btn btn-danger">oui</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
            </div>

        </div>
    </div>
</div>
                </td>
                <td>
                  <a class="btn btn-primary" href="{{ path('app_sponsorback_show', {'id': sponsor.id}) }}"><i class="mdi mdi-view-headline"></i></a>
                  </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
    
        </tbody>
        {% endfor %}
    </table>
        
                     </div>
                  </div>
                </div>
                     
              </div>
        <div class="moved">
 {% do sponsors.setPageRange(2) %}
 {{knp_pagination_render(sponsors , 'sponsorback/pagination.html.twig')}}
 </div>
        </div>
            </div>
        </div>
             
                </div>
                     
              </div>
            </div>
        </div>
        </div>
{% endblock %}

