{% extends 'back.html.twig' %}

{% block title %}Sponsor{% endblock %}

{% block body %}
    <h1>Sponsor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sponsor.id }}</td>
            </tr>
            <tr>
                <th>Nom_sponsor</th>
                <td>{{ sponsor.nomSponsor }}</td>
            </tr>
            <tr>
                <th>Description_sponsor</th>
                <td>{{ sponsor.descriptionSponsor }}</td>
            </tr>
            <tr>
                <th>Logo_sponsor</th>
                <td>{{ sponsor.logoSponsor }}</td>
            </tr>
            <tr>
                <th>Site_webs</th>
                   <td><a href="{{ sponsor.siteWebs }}">{{ sponsor.siteWebs }}</a></td>
            </tr>
<tr>
                <th>Id_equipe</th>
                <td>{{ sponsor.IdEquipe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sponsorback_index') }}">back to list</a>

    <a href="{{ path('app_sponsorback_edit', {'id': sponsor.id}) }}">edit</a>

    {{ include('sponsorback/_delete_form.html.twig') }}
{% endblock %}
